@font-face {
  font-family: Proxima Nova Regular;
  src: url($proxima) format("woff2");
}
$primary-font: "Proxima Nova Regular", serif;

.cepp-header {
  background-color: white;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.cepp-header-wrapper {
  padding-top: 72px;

  .title {
    font-family: $primary-font;
    display: flex;
    height: 123px;
    justify-content: center;
    align-items: center;
  }
}

#main {
  background-color: rgba(239, 239, 239, 0.5);
}

.topic-list {
  list-style: none;
}

.topic-list-item-wrapper {
  display: flex;
  flex-direction: column;
}
