.cepp-header-wrapper {
  .title {
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .category-wrapper: {
    height: 240px;
    background: #2e3a76;
  }
}
