.cepp-header-wrapper {
  padding-top: 72px;

  .title {
    display: flex;
    height: 123px;
    justify-content: center;
    align-items: center;
  }

  .category-wrapper {
    height: 240px;
    background: #2e3a76;
  }
}
